<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suites">
    <test parallel="classes" name="Tests">
        <classes>
            <class name="SeleniumGrid.GoogleTest"/>
            <class name="SeleniumGrid.YoutubeTest"/>
        </classes>
    </test>
</suite>